@use './utils/' as u;

.hero {

    display: flex;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-inline: 40px;
    grid-template-columns: 290px auto;
    gap: 39px;


    @include u.breakpoint-down(small) {
        margin: 10px;
        gap: 0;
        padding: 10px;
    }

    &__grid {
        display: grid;
        grid-template-areas: 'col1 col1 col1 col1'
            'col2 col3 col4 col5';
        // grid-template-columns: 1fr;
        // grid-template-rows: auto;
        gap: 10px;
        align-self: center;


        @include u.breakpoint-down(small) {
            display: none;
        }

        & div {
            background-size: cover;
            background-position: center 0;
            object-fit: cover;
            border-radius: 4px;
            transition: all 150ms ease-in-out;

            &:not(:first-child) {
                &:hover {
                    scale: 1.06
                }
            }

            &:hover {
                scale: 1.01;
            }
        }




        &__col1 {
            grid-area: col1;
            width: 290px;
            height: 270px;
            background-image: url("/images/image-product-1.jpg");
        }

        &__col2 {
            grid-area: col2;
            // width: 62px;
            height: 65px;
            background-image: url("/images/image-product-1-thumbnail.jpg");
        }

        &__col3 {
            grid-area: col3;
            // width: 62px;
            height: 65px;
            background-image: url("/images/image-product-2-thumbnail.jpg");

        }

        &__col4 {
            grid-area: col4;
            // width: 62px;
            height: 65px;
            background-image: url("/images/image-product-3-thumbnail.jpg");

        }

        &__col5 {
            grid-area: col5;
            // width: 62px;
            background-image: url("/images/image-product-4-thumbnail.jpg");

            height: 65px;
        }
    }

    &__col2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        &__price_section {

            @include u.breakpoint-down(small) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        p {
            margin: 0;
        }

        h4 {
            margin: 0;
            color: hsl(26, 100%, 55%);
            font-size: 0.9rem;
            font-weight: bold;
        }

        h2 {
            font-size: 3rem;
            margin: 0;
            // display: inline-block;
            // color: blue;
        }

        h3 {
            display: inline-block;
            margin-right: 0px;
        }

        .span {
            color: rgb(255 125 26);
            font-size: 13px;
            background: rgb(255 237 224);
            font-weight: 700;
            padding: 1px;
            padding-inline: 2px;
            width: fit-content;
        }

        &__stock {
            margin-top: 6px;
            display: flex;
            justify-content: space-between;
            transition: all 100ms ease-in-out;

            svg {
                &:hover {
                    opacity: 0.7;
                }

                &:active {
                    transform: translateY(0.89px);

                }
            }

            .first {
                display: inline-flex;
                align-items: center;
                width: 40%;
                border-radius: 9px;
                min-width: 163px;

                div {
                    background-color: rgb(247 248 253);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 30%;
                }

                div:first-child {
                    &:hover {
                        opacity: 0.7;
                    }
                }

                h3 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                div:last-child {

                    &:hover {
                        opacity: 0.7;
                    }
                }



                // p {
                //     // font-size: ;
                // }
            }

        }





    }

    &__addtocart {
        display: inline-block;
        width: 40%;

        button {
            height: 100%;
            background-color: hsl(26, 100%, 55%);
            ;
            border-radius: 6px;
            border: rgb(255 237 224);
            width: 100%;

            transition: all 150ms ease-in-out;

            &:hover {
                opacity: 0.7
            }

            &:active {
                transform: translateY(0.89px);

            }

        }
    }



}