.sidebar {

    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    background-color: white;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.3s;

    &>div {
        margin-left: 28px;
        margin-top: 31px;

        text-align: left;
        transition: 0.5s;
    }

    &__closebtn {
        margin-bottom: 40px;

        // svg {}
    }

    a {
        display: block;
        line-height: 2.7;
        font-weight: 700;
        color: $Very_dark_blue;
        font-size: 1.3rem;


    }

}